@import "variables";

:host {
  width: 100%;
}

::ng-deep {
  .upload-list-inline .ant-upload-list {
    display: flex;
    position: absolute;
    bottom: 45px;
    left: 0;

    .ant-upload-list-item {
      float: left;
      width: 65px;
      margin-right: $gutter-tiny;
      color: white;
      background-color: white;

      .ant-upload-list-item-name {
        display: none;
      }

      .anticon-close {
        background-color: white;
        color: $primary-color;
      }
    }
  }
  .ant-input-group-addon {
    border-radius: $corner-small;
  }
}

[input] {
  background-color: $background-color;
  border-radius: $corner-small;
}

[add-picture] {
  background-color: $primary-color;
  color: white;
}

[send-message] {
  color: $primary-color;
  font-size: $font-size-large;
  cursor: pointer;
}
