@import "variables";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-height: 250px;
  min-width: 230px;
  padding: 50px;

  @media (max-width: 768px) {
    width: 100vw;
  }
}

form {
  text-align: center;

  input {
    border: 0;
    border-bottom: 1px solid $gray-light-color;
    font-size: $font-size-big;
    margin-bottom: $gutter-huge;

    &:focus {
      box-shadow: none;
    }
  }
}

