@import "variables";

:host {
  position: fixed;
  top: $header-height;
  width: calc(100% - #{$sider-width});
  overflow: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px $background-color solid;
  align-items: center;
  background-color: white;
  transition: all 0.3s;

  &[collapsed='true'] {
    width: 100%;
  }
}

[trigger] {
  font-size: 26px;
  padding: 0 10px;
  color: $primary-color;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;
}

[topic] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 0;
  width: calc(100% - 52px);

  [title] {
    height: calc(17px * 2);
    overflow: hidden;
    line-height: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 5px;
  }

  [share] {
    min-width: 32px;
  }
}
