@import "variables";

$title-line-height: $line-height-base;

:host {
  position: fixed;
  top: $header-height;
  width: calc(100% - #{$sider-width});
  overflow: auto;
  flex-direction: column;
  align-items: stretch;
  transition: all 0.3s;
  background-color: white;

  &[collapsed='true'] {
    width: 100%;
  }
}

[topic] {
  padding: 10px;
  border-bottom: 1px $gray-color solid;
  background-color: white;
  flex-wrap: nowrap;

  [topic-title] {
    flex-wrap: nowrap;
    flex: 1;
  }
}

[primary] {
  display: none;
  margin: $gutter-small auto 0 auto;
}

[trigger] {
  font-size: 26px;
  margin-right: 10px;
  color: $primary-color;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;
}

[title] {
  overflow: hidden;
  margin-right: $gutter-tiny;
  line-height: $title-line-height;
  max-height: calc(2 * #{$title-line-height}em);
}

@media (max-width: $mobile) {
  [primary] {
    display: block;
  }
}

