@import "variables";

[nz-form] {
  max-width: 300px;
  padding-top: 20px;
}

.restore-form-button {
  width: 100%;
}

.ant-form-item {
  margin-bottom: 10px;
}

[restore] {
  background-color: $purple-color;
}
