<form nz-form [formGroup]="restoreForm" (ngSubmit)="restore()">

  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixLock">
        <input type="password" nz-input formControlName="password" placeholder="Password"/>
      </nz-input-group>
      <nz-form-explain *ngIf="restoreForm.get('password')?.dirty && restoreForm.get('password')?.errors">
        Please input your Password
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixLock">
        <input type="password" nz-input formControlName="confirmPassword" placeholder="Confirm password"/>
      </nz-input-group>
      <nz-form-explain *ngIf="restoreForm.get('confirmPassword')?.dirty && restoreForm.get('confirmPassword')?.errors">
        Passwords are not identical
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <button nz-button class="restore-form-button" [nzType]="'primary'"
              [nzLoading]="loading" type="submit" restore>
        Restore
      </button>
    </nz-form-control>
  </nz-form-item>

</form>

<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
