<nz-sider [nzBreakpoint]="'sm'" [nzCollapsedWidth]="0"
          nzCollapsible [(nzCollapsed)]="collapsed"
          [attr.collapsed]="collapsed"
          [nzTrigger]="trigger"
          [nzWidth]="300">
  <moo-topics-list (haveMessages)="haveMessages = $event"></moo-topics-list>
</nz-sider>
<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template>
<nz-layout>
  <nz-affix [nzOffsetTop]="0">
    <nz-header>
      <moo-header [haveMessages]="haveMessages"></moo-header>
    </nz-header>
  </nz-affix>
  <nz-content [attr.collapsed]="collapsed">
    <moo-topic-title [attr.collapsed]="collapsed" [(collapsed)]="collapsed"></moo-topic-title>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer [attr.collapsed]="collapsed">
    <moo-create-message></moo-create-message>
  </nz-footer>
</nz-layout>
