<nz-layout>
  <nz-header header [attr.extended]="extended" [attr.collapsed]="collapsed">
    <moo-header [haveMessages]="haveMessages"></moo-header>
  </nz-header>

  <nz-layout>
    <nz-sider [nzBreakpoint]="'sm'" [nzCollapsedWidth]="0.01"
              nzCollapsible [(nzCollapsed)]="collapsed"
              [attr.collapsed]="collapsed"
              [nzTrigger]="null"
              [nzWidth]="350" sider>
      <div start-topic>
        <button primary nz-button nzType="default" nzShape="round" (click)="create()">
          <i nz-icon type="icons:message"></i>
          START TOPIC
        </button>
      </div>
      <moo-topics-list (haveMessages)="haveMessages = $event">
      </moo-topics-list>
    </nz-sider>
    <nz-layout body [attr.collapsed]="collapsed" [attr.extended]="extended">
      <moo-topic-title [attr.collapsed]="collapsed" [(collapsed)]="collapsed"></moo-topic-title>
      <nz-content content>
        <router-outlet></router-outlet>
        <moo-create-message></moo-create-message>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
