@import "variables";

[header] {
  height: $header-height;
  padding: 0;
}

[sider] {
  overflow: auto;
  position: fixed;
  height: calc(100vh - #{$header-height});
  left: 0;
  top: $header-height;
  background-color: white;
  box-shadow: 10px 0 10px 0 $shadow-color;
  z-index: 1;

  ::ng-deep.ant-layout-sider-zero-width-trigger {
    display: none;
  }
}

[footer] {
  background-color: white;
  margin-left: calc(#{$sider-width} + #{$gutter-big});
  position: fixed;
  height: $footer-height;
  bottom: 0;
  width: calc(100vw - #{$sider-width} - #{$gutter-big});
  transition: margin 0.2s;
  padding: $gutter-normal $gutter-normal $gutter-normal 0;
  display: flex;

  &[collapsed='true'] {
    margin-left: 0;
    width: 100%;
    padding: $gutter-normal;
  }
}

[content] {
  background-color: white;
  margin-left: $sider-width;
  padding-bottom: calc(#{$footer-height} + #{$gutter-big});
  transition: margin 0.2s;

  &[collapsed='true'] {
    margin-left: 0;
  }
}

@media (max-width: $mobile) {
  [sider][collapsed='false'] {
    flex: 0 0 100vw !important;
    width: 100vw !important;
    min-width: 100vw !important;
    max-width: 100vw !important;
  }
  [footer][collapsed='false'] {
    display: none;
  }
  [content][collapsed='false'] {
    display: none;
  }
}
