@import "variables";

:host {
  background-color: $primary-color;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: $gutter-small;
  align-items: center;
  color: white;
}

[logo] {
  font-size: 130px;

  ::ng-deep svg {
    height: $header-height;
  }
}

[messages] {
  position: relative;
  line-height: 0;
  margin-right: $gutter-large;
  margin-left: $gutter-tiny;

  [icon] {
    color: white;
    font-size: 30px;
  }

  [have-messages] {
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $purple-dark-color;
  }
}

[user] {
  background-color: $primary-light-color;
  border: none;
}

