@import "variables";

:host {
  background-color: $primary-color;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

[trigger] {
  font-size: 30px;
  padding: 0 10px;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
}

[user] {
  background-color: $primary-light-color;
  border: none;
}

[nz-menu-item] {
  align-items: center;
}

[start-topic] {
  margin-right: 10px;
  background-color: $purple-color;
  color: white;
  border: none;
}
