@import "variables";

[nz-menu] {
  padding: 20px 0;

  [nz-menu-item] {
    text-align: start;
    height: 50px;
    margin: 0;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      i {
        font-size: 24px;
      }
    }

    &:not(:last-child) {
      div {
        border-bottom: 1px $secondary-color solid;
      }
    }
  }
}
