<div start-topic>
  <button *ngIf="me.logged" nz-button nzType="default" nzShape="round" (click)="create()">
    <i nz-icon type="icons:message"></i>
    START TOPIC
  </button>
</div>
<ul nz-menu>
  <li *ngFor="let topic of topics" nz-menu-item
      [routerLink]="['/topics', topic.card.id]"
      [attr.active]="current === topic.card.id">
    <div topic>
      <span>{{topic.card.title}}</span>
      <i nz-icon type="icons:message"></i>
      <ng-container *ngIf="!!topic.newMessages">
        <div new-messages>{{topic.newMessages}}</div>
        <div have-messages></div>
      </ng-container>
    </div>
  </li>
</ul>
