@import "variables";

:host {
  display: block;
  overflow: auto;
  height: calc(100% - #{$title-height});
}

ul {
  border: 0;
  [item] {
    height: 50px;
    line-height: 50px;
    margin: 0;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
    &:not(:last-child) {
      [topic] {
        border-bottom: 1px $secondary-color solid;
      }
    }

    [topic] {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      position: relative;
      [title] {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      [message] {
        position: relative;
        line-height: 0;
        [icon] {
          font-size: 32px;
          color: $gray-color;
          margin: 0;
        }
        [new-messages] {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          font-size: $font-size-small;
          color: white;
        }
        [have-messages] {
          position: absolute;
          right: 0;
          top: 0;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $purple-dark-color;
        }
      }
    }
    &[active='true'] {
      background-color: $primary-light-color;
      outline: 1px $secondary-color solid;
      color: white;
      [topic] {
        border: 0;
        [icon] {
          color: white;
        }
        [new-messages] {
          color: $gray-color;
        }
      }
    }
  }
}

