@import "variables";

:host {
  display: block;
}

nz-empty {
  margin: 50% 30%;
}

[loading] {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: $sider-width;
  top: $header-height;
  bottom: $footer-height;
  right: 0;
  margin: auto;

  i {
    font-size: 20vw;
    color: $primary-color;
  }
}

ul {
  list-style: none;
  padding: $header-height 20px 20px 20px;

  li {
    padding: 10px;
    display: block;

    [username] {
      width: 100%;
      float: left;
      margin-bottom: 10px;
    }

    [content] {
      float: left;
      margin: 0 10vw 2vh 0;

      [text] {
        background-color: $primary-color;
        border-radius: 15px;
        padding: 10px;
      }

      [images] {
        display: flex;
        flex-direction: column;

        img {
          padding: 10px;
          max-width: calc(100vw - 10vw - #{$sider-width} - 20px);
          max-height: calc(100vw - 10vw - #{$sider-width} - 20px);
        }
      }
    }

    &[me='true'] {
      [username] {
        float: right;
        text-align: right;
      }

      [content] {
        float: right;
        margin: 0 0 2vh 10vw;

        [text] {
          background-color: $background-color;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  [loading] {
    left: 0;
  }
}
