<ng-container *ngIf="loading; else content">
  <ng-template #indicatorTemplate>
    <i nz-icon type="loading"></i>
  </ng-template>
  <nz-spin nzSimple [nzIndicator]="indicatorTemplate" nz-row nzType="flex" nzAlign="middle" nzJustify="center" loading></nz-spin>
</ng-container>

<ng-template #content>
  <ng-container *ngIf="messages.length; else noData">
    <ul>
      <li *ngFor="let message of messages" [attr.me]="me.user?.id === message.user.id" #messageView>
        <div username [ngStyle]="{'color': colors[message.user.id]}">{{message.user.username}}</div>
        <div content>
          <div *ngIf="!!message.content" text [innerHTML]="message.content | linkify"></div>
          <div *ngIf="!!message.images.length">
            <img *ngFor="let image of message.images"
                 [src]="image.image.url"
                 (click)="preview(image.image.url)"/>
          </div>
        </div>
      </li>
    </ul>
  </ng-container>
</ng-template>

<ng-template #noData>
  <nz-empty [nzNotFoundContent]="contentTpl" nodata></nz-empty>
</ng-template>

<ng-template #contentTpl>
  <span> No messages yet </span>
</ng-template>
