@import "variables";

:host {
  display: block;
  position: relative;
  overflow: auto;
  flex: 1;
}

[nodata], [loading] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

[loading] {
  i {
    font-size: 10vw;
    color: $primary-color;
  }
}

ul {
  list-style: none;
  padding: $gutter-big;

  li {
    padding: $gutter-small;

    [content] {
      display: inline-block;
      margin: 0 10vw 2vh 0;
      word-break: break-word;

      [text] {
        background-color: $primary-color;
        color: white;
        border-radius: $corner-normal;
        padding: $gutter-small;
      }

      img {
        display: block;
        padding: $gutter-small;
        cursor: pointer;
        max-width: 100%;
        width: 500px;
        height: auto;
      }
    }

    &[me='true'] {
      text-align: right;

      [content] {
        margin: 0 0 2vh 10vw;

        [text] {
          background-color: $background-color;
          color: $gray-dark-color;
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  [loading] {
    left: 0;
  }
}
