<div topic>
  <span>Topic: {{topic?.title}}</span>
  <button *ngIf="me.logged" nz-button nzType="default" nzShape="circle" (click)="share()">
    <i nz-icon type="share-alt"></i>
  </button>
</div>
<ng-container *ngIf="loading">
  <ng-template #indicatorTemplate>
    <i nz-icon type="loading"></i>
  </ng-template>
  <nz-spin nzSimple [nzIndicator]="indicatorTemplate" loading></nz-spin>
</ng-container>

<ul>
  <ng-container *ngIf="messages.length">
    <li *ngFor="let message of messages" [attr.me]="me.user?.id === message.user.id">
      <span username>{{message.user.username}}</span>
      <div content>{{message.content}}</div>
    </li>
  </ng-container>
</ul>
