<div topic>
  <span>Topic: {{topic?.title}}</span>
  <button *ngIf="me.logged" nz-button nzType="default" nzShape="circle" (click)="share()">
    <i nz-icon type="share-alt"></i>
  </button>
</div>

<ng-container *ngIf="loading; else content">
  <ng-template #indicatorTemplate>
    <i nz-icon type="loading"></i>
  </ng-template>
  <nz-spin nzSimple [nzIndicator]="indicatorTemplate" loading></nz-spin>
</ng-container>

<ng-template #content>
  <ng-container *ngIf="messages.length; else noData">
    <ul>
      <li *ngFor="let message of messages" [attr.me]="me.user?.id === message.user.id">
        <span username>{{message.user.username}}</span>
        <div content>{{message.content}}</div>
      </li>
    </ul>
  </ng-container>
</ng-template>

<ng-template #noData>
  <nz-empty [nzNotFoundContent]="contentTpl"></nz-empty>
</ng-template>

<ng-template #contentTpl>
  <span> No messages yet </span>
</ng-template>
