<form nz-form [formGroup]="loginForm" (ngSubmit)="login()">

  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixUser">
        <input nz-input formControlName="username" type="text" placeholder="Username">
      </nz-input-group>
      <nz-form-explain *ngIf="loginForm.get('username')?.dirty && loginForm.get('username')?.errors">
        Please input your Username
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixLock">
        <input type="password" nz-input formControlName="password" placeholder="Password"/>
      </nz-input-group>
      <a (click)="restore()" link> Restore password</a>
      <nz-form-explain *ngIf="loginForm.get('password')?.dirty && loginForm.get('password')?.errors">
        Please input your Password!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <button primary nz-button nzBlock nzType="round" [nzLoading]="loading" type="submit">
        Login
      </button>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-control>

      <button primary nz-button nzBlock nzType="round" [nzLoading]="loading" (click)="registration()" type="submit">
        Register now
      </button>
    </nz-form-control>
  </nz-form-item>


</form>

<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
