@import "variables";

[nz-form] {
  max-width: 300px;
  padding-top: 20px;
}

.login-form-forgot {
  float: right;
}

[login] {
  background-color: $purple-color;
  width: 50%;
  height: 35px;
  color: white;
  margin: 0 25%;
}
