@import "variables";

form {
  padding-top: $gutter-big;
  & > :not(:last-child) {
    margin-bottom: $gutter-tiny;
  }
}

[link] {
  display: block;
  font-size: $font-size-small;
  color: $primary-light-color;
  text-align: right;
}


