@import "variables";

:host {
  text-align: center;
  display: block;
}

[whatsapp] {
  color: $green-color;
  font-size: 80px;
  cursor: pointer;

  @media (min-width: 992px) {
    display: none;
  }
}
