@import "variables";

:host {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
}

[whatsapp] {
  color: $green-color;
  margin: $gutter-normal auto;
  width: 100px;
  height: 100px;
  font-size: 80px;
  cursor: pointer;

  @media (min-width: 992px) {
    display: none;
  }
}
