/* You can add global styles to this file, and also import other style files */
@import "variables";

body {
  margin: 0;
}

button[primary] {
  background-color: $purple-color;
  box-shadow: 0 5px 10px $gray-color;
  color: white;
  border: none;
  height: 40px;

  &:hover, &:focus {
    background-color: $purple-dark-color;
    color: white;
  }

  &:active {
    background-color: $purple-color;
    color: white;
  }
}
