$primary-color: #E75387;
$primary-light-color: #FFADD1;
$shadow-color: #F1F1F1;
$secondary-color: #E8C6E7;
$background-color: #F2F2F2;
$gray-color: #C2C2C2;
$gray-light-color: #E8E8E8;
$green-color: #0B8D32;
$purple-color: #958BEE;
$dark-purple-color: #A130D5;

$sider-width: 350px;
$footer-height: 70px;
$header-height: 50px;
